@import url(http://fonts.googleapis.com/css?family=Lato:300,400,500,700|Roboto:400,500,700);

@import "./base";
@import "./components/components";

.carousel-container {
  .carousel-container__header {
  }
}

.brands-carousel {
  .brands-carousel__item {
    width: 100px;
    margin: 0 15px;
    cursor: pointer;

    img {
      display: inline-block;
      width: 100%;
    }
  }
}

.products-carousel {
}
