.badge-wrap {
  position: relative;
}

.badge {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 400;
  background: color("orange");
  color: #fff;
  border-radius: 50%;
  z-index: 1;
}
