.panel {
  .panel__header {
    display: flex;
    flex-flow: row nowrap;
    color: color("gray-darken-2");
    cursor: pointer;

    .header__title {
      flex: 1;
      padding: 10px;
      margin: 0;
      text-transform: uppercase;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .panel__body {
    display: block;
    overflow: hidden;
  }

  &.panel-collapsible {
    padding: 5px 0;

    .panel__header {
      position: relative;

      &:hover {
        color: theme-color("primary");
      }

      &::after {
        content: "\e5ce";
        position: absolute;
        font-family: "materialicon";
        font-size: 20px;
        color: inherit;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.panel-collapsible--collapsed {
      .panel__header::after {
        content: "\e5cf";
      }
    }
  }
}
