.autocomplete {
  position: relative;
  flex: 1;

  .autocomplete__options-container {
    position: absolute;
    width: 100%;
    min-height: 48px;
    background: color("white");
    border: 1px solid color("gray-lighten-2");
    border-top-width: 0;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    overflow-y: auto;
    z-index: 1001;

    .autocomplete__options-list {
      li {
        &:not(:last-of-type) {
          border-bottom: 1px solid theme-color("border");
        }

        a {
          display: block;
          padding: 14px;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            background: color("gray-lighten-4");
          }

          span {
            font-weight: 500;
            color: theme-color("primary");
          }
        }

        .list__row--selected {
          background: color("gray-lighten-4");
        }
      }
    }

    .circular-progress {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
