@import "./header";
@import "./hrmenu";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

#root {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

.resp-content {
  position: relative;
  margin: 0 auto;
  padding: 0 15px 0 15px;

  @include media-breakpoint-up(xl) {
    @include container-max-width(xl);
  }
}

.main__content {
  flex: 1 0 auto;
  padding: 15px 0 0;
}

.main__footer {
  padding: 25px 0;
  background: color("gray-lighten-5");
  border-top: 1px solid color("gray-lighten-3");

  .copyright {
    font-size: 14px;
    font-weight: 500;
    color: theme-color("text");
    padding: 0 15px;
  }
}
