.product-filters {
  display: block;
  padding-right: 5px;
  height: 100%;

  header {
    h3 {
      padding: 10px;
      margin: 0;
      color: color("gray-darken-1");
    }
  }

  .panel-collapsible {
    border-bottom: 1px solid #eeeeee;

    &:last-of-type {
      border-bottom: 0;
    }
  }
}
