.product-view {
  display: flex;
  flex-flow: row nowrap;

  .product-view__center {
    flex: 1;
    min-width: 460px;
  }

  .product-view__aside {
    flex: 0 1 340px;
    min-width: 250px;
  }

  .product-view__sticky-container {
    padding: 15px;
  }
}

.product-showcase {
  background: #fff;
  padding: 15px;

  .product-showcase__header {
    text-align: left;
  }

  .product-showcase__brand,
  .product-showcase__name {
    font-size: 18px;
    font-weight: 500;
  }

  .product-showcase__brand {
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: 700;
  }

  .product-showcase__prices {
    position: relative;
    text-align: left;
    padding: 15px 0 15px 0;
  }

  .product-showcase__price--old {
    font-size: 24px;
    font-weight: 500;
  }

  .product-showcase__price--special {
    position: relative;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
  }

  .product-showcase__flag {
    position: absolute;
    top: -24px;
    right: -40px;
    padding: 5px;
  }

  .product-showcase__tax-details {
    padding-top: 10px;
    font-style: italic;
    color: color("gray");
  }

  .product-showcase__delivery-details {
    color: theme-color("link-hover");
    padding: 10px 0 10px;
    font-weight: 500;
    text-align: left;

    &::before {
      content: "\e616";
      font-family: "materialicon";
      vertical-align: bottom;
      margin-right: 2px;
      font-size: 16px;
    }
  }

  .product-showcase__sizes {
    padding: 5px 0 15px 0;

    .product-showcase__size-options {
      > li {
        display: inline-block;

        .product-size__option {
          padding: 8px 16px;
          margin: 0 6px 6px 0;
          background: color("gray-lighten-3");
          border: 2px solid transparent;
          outline: none;
          border-radius: 3px;
          cursor: pointer;
          transition: background 0.2s ease-out;

          &:hover {
            background: transparent;
            border-color: color("gray-lighten-3");
          }

          &.option-item--selected {
            background: #fff;
            border-color: theme-color("primary");
            color: theme-color("primary");
            font-weight: 700;
          }
        }
      }
    }
  }

  .product-showcase__label {
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
  }

  .product-showcase__button {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

/* product-section */

.product-section {
  margin: 0 0 15px 0;

  & > .section__header {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: theme-color("border");
    }

    .section__title {
      position: relative;
      font-size: 20px;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: theme-color("primary-lighten-1");
      }
    }
  }
  & > .section__body {
    background: color("gray-lighten-5");
  }
}

.section.product-section__card {
  padding: 15px;
  background: #fff;
  border-bottom: 1px solid color("gray-lighten-3");

  &:last-of-type {
    margin-bottom: 0px;
  }

  & > .section__header .section__title {
    padding: 0 0 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
  }

  & > .section__body {
    padding: 0;
  }
}

/*feature-list*/

.feature-list {
  .feature-list__item {
    padding: 5px 0;
  }
}
